%footer.branding
  %hr
  .row
    .span12(style="text-align:center")
      = condensed_contact("content/attachments/vcf/default.vcf")
    
%footer
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %script{:src => '/bootstrap/bootstrap.min.js', :async => false, :type => 'text/javascript'}

  :javascript
    /* Load tooltips */
    $(document).ready(function(){
      $('[title]').tooltip({placement:'bottom'});
      $('#mainnav a').smoothScroll();
      });


