
/* Hide the organization name if it's in the footer */
footer .vcard .org.fn {
    display: none;
}

.vcard {
    section.detail {
	min-height: 250px;
    }
    
    clear:both;
    .n {
        .honorific-prefix { display:none; }
    }
    .photo { 
        float: right;
    }

    /* Two entries guarentees min is satified */
    .photo {
	width: 200px;
	height: auto;
    }
    .mapphoto {
        float: right;
        width: 250px;
        height: auto;
    }

    .org { /* hide the organization, everyone is PATHS */
        display: none;

        &.fn { /* Unless it's the org entry */
            display: block;
        }
    }

    .adr {
	margin-top: 1em;
    }

    h5.contact {
        margin-top: 1em;
    }

    table.econtacts {
        th {
            text-align:right;
        }
        th,td { 
            min-width: 4em;
            padding-left: 5px; 
        }
    }
    // Hide the tel types from display
    .tel {
        //display: inline;
        .type { display: none }
    }
}

.bio {
    .note {
        clear:both;
        padding-top: 1em;
	display:none;
    }
}
